.welcome-page-content{
    margin-bottom: 20vh;
}
.welcome-page-content > p{
    text-align: center;
    color: white;
    font-size: 6vh;
}
.song-input{
    display: block;
    margin: auto;
    width: 30vw;
    outline: none;
    height: 6vh;
    border-radius: 5vh;
    border-style: solid;
    border-width: 0.3vh;
}

.song-input::placeholder{
    padding-left:4vh;
    font-size: 2vh;
    color:rgba(0, 0, 0, 0.418);
}